.photo-grid {
  box-sizing:border-box;
  width:100%;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(284px,auto));
  justify-content:center;
  grid-gap:16px;
}
@media screen and (max-width:1024px){
  .photo-grid {
    grid-gap:14px;
    padding:0 48px 0;
   }
}
@media screen and (max-width:768px){
  .photo-grid {
    grid-gap:16px;
    padding:0 24px 0;
   }
}

@media screen and (max-width:500px){
  .photo-grid {
    grid-gap:12px;
    padding:0 16px 0;
   }
}