
.header {
  box-sizing:border-box;
  width:100%;
  min-width:288px;
  padding:0 100px 0;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

@media screen and (max-width:1024px) {
  .header {
    padding:0 48px 0;
  }
}
@media screen and (max-width:768px) {
  .header {
    padding:0 24px 0;
  }
}
@media screen and (max-width:500px) {
  .header {
    padding:0 16px 0;
  }
}
