.main-route__link {
    box-sizing:border-box;
    width:100%;
    height:100%;
    color:#fff;
    text-decoration:none;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    padding-top:23.9020271%;
    padding-bottom:23.9020271%;
  }
  .main-route__link::before {
    content:'';
    background-color:#2A2C2F;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.3;
    transition:opacity 0.5s ease-in;
   }
   .main-route__link:hover:before {
     opacity:0.8;
   }
   @media screen and (max-width:1024px) {
    .main-route__link {
      padding-top:22.7539063%;
      padding-bottom:22.7539063%;
    }
  }
   @media screen and (max-width:768px) {
    .main-route__link {
      padding-top:19.921875%;
      padding-bottom:19.921875%;
    }
  }
   @media screen and (max-width:500px) {
    .main-route__link {
      padding-top:10.46875%;
      padding-bottom:10.46875%;
    }
  }
   @media screen and (max-width:320px) {
    .main-route__link {
      padding-top:15.78125%;
      padding-bottom:15.78125%;
    }
  }
  