.lead__image {
  
  margin:0;
  min-width:100%;
  width:100%;
  height:96.5463108%;
  max-width:984px;
}
@media screen and (max-width:1024px){
  .lead__image {
    height:96.345515%;
  }
}
@media screen and (max-width:768px){
  .lead__image {
    height:calc(100% - 22px);
  }
}